{% extends "base.html" %}
{% block title %}Profiles{% endblock %}
{% block content %}
<div class="d-flex justify-content-center fill" >
  <table class="table table-borderless">
      <thead>
          <tr>
            <th scope="col">Profile </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">The Socialite</th>
            <td>Energetic, life of the party. Enjoys hanging out with people and a fun environment, looking to make the best of their university experience, basically nocturnal.</td>
          </tr>
          <tr>
            <th scope="row">The Juggler</th>
            <td>Always focussed on “keeping it all up” but often finds everything “up in the air” instead. A spontaneous character with bursts of productivity, or a sudden urge to walk through a forest. Juggling one thing at a time but managing to juggle everything like a true professional. </td>
          </tr>
          <tr>
            <th scope="row">The Equalizer</th>
            <td>Levelled priorities. A good focused work ethic and the occasional trip for boba. Someone you may not see for the entire week of midterms, or the first person to drag you.</td>
          </tr>
          <tr>
              <th scope="row">The Wallflower</th>
              <td>The quiet and motivated academic, with a tendency to keep to themselves. A strong gravitation towards academics. They may not enjoy social scenes but they’ll be down for a quick coffee run with a handful of friends. </td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}